body{
    background-color: rgb(250,250,250);
}
.content-container{
    margin-top: 100px;
}
#login-form, #register-form, #email-form{
    max-width: 500px;
    margin: auto;
}

 .inputErrorsApp {
  min-height: 48px; }

 md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; 
}

.ng-hide-add-active {
  display: block!important;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.ng-hide-remove-active {
  display: block!important;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.ng-hide {
  opacity: 0;
}
